* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel {
    max-width: 360px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.qr-card {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 18px;
    margin: 0 1rem;
}

.qr-card img {
    max-width: 100%;
    border-radius: 15px;
}

.text {
    text-align: center;
    margin: 20px 0;
    
}

.text h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: hsl(218, 44%, 22%);
    margin-bottom: 20px;
}

.text p {
    font-weight: 400;
    font-size: 1rem;
    color: hsl(216, 15%, 48%);
}

/* FOOTER NAV */
.attribution {
    font-size: 11px;
    text-align: center;
    max-width: 100%;
    margin: 0 1rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}